* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 4rem;
    letter-spacing: 0.5rem;
}
h1 span {
    position: relative;
    display: inline-block;
}
h1 span::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #0008;
    backdrop-filter: invert(100%);
}