* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
body {
    font-family: 'Poppins', sans-serif;
}
.space{
    height: 100vh;
    width: 100%;
}
#holder{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    position: relative;
}
.card{
    min-height:90vh;
    position: absolute;
    top: 5vh;
    border: #fff 2px solid;
    width: 100%;
    background-color: teal;
}