* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
body {
    font-family: 'Poppins', sans-serif;
}
.space{
    height: 100vh;
    width: 100%;
}
#Container{
    display: flex;
    flex-direction: column-reverse;
    padding: .5vh;
    height: 100vh;
    gap: 1vh;
}
#Container div{
    height: 9vh;
    width: 300px;
    background-color: teal;
    border-radius: 10px;
}